ALLOWED_DEV_ORIGINS=																											# 192.168.X.X (Next.js provided network URL)

UPSTASH_REDIS_REST_URL=																										# https://unified...-.upstash.io
UPSTASH_REDIS_REST_TOKEN=																									# qQAAAA...

SHADCN_PRESET=bcivVNCa 																										# npx shadcn@latest init --preset bcivVNCa --base radix --template next --pointer
